html {
  font-family: Merriweather, serif;
  color: #333;
}

th, td {
  border: 1px solid #ccc;
}

.grey {
  color: #666;
  background-color: #f2f2f2;
  border: 1px solid #666;
}

.red {
  color: #991919;
  background-color: #f2bcbc;
  border: 1px solid #b92828;
}

.green {
  color: #6b7e54;
  background-color: #d1e0bf;
  border: 1px solid #51603f;
}

.blue {
  color: #38448e;
  background-color: #d2d6f0;
  border: 1px solid #1d38da;
}

.date {
  height: 8.5em;
}

.list-group {
  border-radius: 8px;
}
